{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'attr': {'enctype': 'application/x-www-form-urlencoded','class': 'register form-horizontal', 'role': 'form', 'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="hidden">
        {{ form_row(form._token) }}
    </div>
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ include('VitelogeCoreBundle:Form:submit.html.twig', {
        back_uri: path('fos_user_security_login'),
        submit_label: 'registration.submit'|trans()
    }) }}
{{ form_end(form, {'render_rest': false}) }}
