{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{%- block header -%}
    {%- embed "VitelogeUserBundle:base:headerSearch.html.twig" with {form:form} -%}
        {%- block header_navbarheader -%}

        {%- endblock -%}

    {%- endembed -%}
{%- endblock -%}
{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {%- block left %}
            {{- include('VitelogeFrontendBundle:WebSearch:fragment/resume.html.twig', { 'webSearches': app.user.webSearches }) -}}
            <section>
                <h2>{% trans %}user.websearch.title{% endtrans %}</h2>
                <div class="btn-toolbar margin-b20" role="toolbar" aria-label="{%- trans -%}user.actions{%- endtrans -%}">
                    <div class="btn-group pull-left" role="group" aria-label="{% trans %}websearch.general.action{% endtrans %}">
                        <a href="{{ path('viteloge_frontend_websearch_new', { }) }}" class="btn btn-primary" role="button" aria-label="{% trans %}websearch.action.add{% endtrans %}">
                            <span class="fa fa-plus-circle" aria-hidden="true"></span>
                            <span class="hidden-xs">{% trans %}websearch.action.add{% endtrans %}</span>
                        </a>
                    </div>
                </div>
                <div class="clearfix panel-group" id="websearch-panel" role="tablist" aria-multiselectable="true">
                    {% for websearch in app.user.webSearches %}
                        {{ include('VitelogeFrontendBundle:WebSearch:render/panel.html.twig', { id: websearch.id, parent: 'websearch-panel', show: (not loop.index0), websearch: websearch }) }}
                    {% endfor %}
                </div>
            </section>
        {%- endblock %}
        {%- block right -%}
            {{- include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) -}}
        {%- endblock -%}
    {% endembed %}
{% endblock main %}
{%- block javascripts -%}
    {{- parent() -}}
{%- endblock javascripts -%}
