{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 8, 'rsize': 4 } %}
        {% block left %}
            {% embed "VitelogeFrontendBundle:WebSearch:form/edit.html.twig" with { form: form } %}
                {%- block form_button -%}
                    {%- embed 'VitelogeCoreBundle:Form:submit.html.twig' -%}
                        {%- block form_button_back -%}
                            <a href="{{ path('viteloge_frontend_websearch_history') }}" class="btn btn-default btn-block" role="button" aria-label="{% trans %}usersearch.back{% endtrans %}">
                                <span class="fa fa-undo" aria-hidden="true">&nbsp;</span>
                                <span>{% trans %}usersearch.back{% endtrans %}</span>
                            </a>
                        {%- endblock -%}
                        {%- block form_button_submit -%}
                            {{ form_widget(form.userSearch.save, {
                                'label': 'usersearch.save',
                                'span_class': 'fa fa-save',
                                'attr': {
                                    'class': 'btn btn-primary btn-block text-uppercase',
                                    'role': 'button'
                                }
                            }) }}
                        {%- endblock -%}
                    {%- endembed -%}
                {%- endblock form_button -%}
            {% endembed %}
            {{ include('VitelogeFrontendBundle:WebSearch:form/delete.html.twig', { form: form_delete }) }}
        {% endblock %}
        {% block right %}
            <aside>
                <div class="">
                    {{ include('VitelogeFrontendBundle:menu:user.html.twig', { }) }}
                </div>
            </aside>
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
