<figure class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <div class="center-block">
            <a href="{{ ad.link }}{#{{ path('viteloge_frontend_ad_redirect', { 'id': ad.id }) }}#}" rel="nofollow">
                <img data-original="{{ ad.image }}{#{{ 'http://media.viteloge.com/' ~ ad.photo }}#}" class="lazy media-object" alt="">
            </a>
        </div>
        <figcaption class="caption text-center">
            {% if ad.price is defined %}
                <span class="price">{{ ad.price|replace('EUR', '€') }}{#{{ ad.price | localizedcurrency('EUR') }}#}</span>
            {% endif %}
        </figcaption>
    </div>
</figure>
