<article class="estate clearfix row-no-padding" itemscope itemtype="http://schema.org/Product">
    <figure class="col-md-4">
        {%- block estate_figure -%}
            {{ include('VitelogeFrontendBundle:Ad:fragment/image.html.twig', { 'ad': ad }) }}
        {%- endblock -%}
    </figure>
    <header class="col-md-8">
        <h4 class="title" itemprop="name">
            {%- block estate_title -%}
                <span>{{ ad.type }}</span><br> {% trans %}ad.at{% endtrans %} <span>{{ ad.cityName }}</span> (<span>{{ ad.postalcode }}</span>)
            {%- endblock -%}
        </h4>
        <sub class="subtitle">
            {%- block estate_sub_title -%}
                {{ include('VitelogeFrontendBundle:Ad:fragment/rooms_and_surface.html.twig', { 'ad': ad }) }}
            {%- endblock -%}
        </sub>
        <strong class="price pull-right" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {%- block estate_price -%}
                {{ ad.price | schematizedcurrency('EUR') | raw }}
            {%- endblock -%}
        </strong>
    </header>
    <div class="col-md-8 clearfix description text-justify" role="presentation" itemprop="description">
        {%- block estate_content -%}
            <p>{{ ad.advancedDescription|raw }}</p>
            <a href="{{ path('viteloge_frontend_ad_redirect', { 'id': ad.id }) }}" class="link text-left">
                <span>{%- trans with {'%agency%': ad.agencyDomainName} -%}Annonce immobilière sur %agency%{%- endtrans -%}</span>
            </a>
        {%- endblock -%}
    </div>
    <footer id="estate-{{ ad.id }}-tab" class="col-md-12 footer clearfix">
        <ul class="nav nav-pills pull-right" role="tablist" aria-multiselectable="true">
            {% if ad.privilege.isAgency %}
            <li role="presentation" class="expand-hover" itemscope itemtype="https://schema.org/RealEstateAgent">
                <a id="estate-{{ ad.id }}-group-lnk" href="#estate-{{ ad.id }}-group" class="" role="tab" aria-controls="estate-{{ ad.id }}-group" aria-expanded="false" data-toggle="collapse" data-parent="#estate-{{ ad.id }}-tab" itemprop="url">
                    <span class="fa fa-envelope"></span>
                    <span class="hidden-xs expand-hover-text" itemprop="legalName">{{ ad.agencyName }}</span>
                </a>
            </li>
            {% endif %}
            <li role="presentation" class="expand-hover">
                <a href="{{ path('viteloge_frontend_ad_redirect', { 'id': ad.id }) }}" class="" role="tab" rel="nofollow" target="_blank">
                    <span class="fa fa-desktop"></span>
                    <span class="hidden-xs expand-hover-text">{% trans %}ad.visit{% endtrans %}</span>
                </a>
            </li>
            <li role="presentation" class="expand-hover">
                <a id="estate-{{ ad.id }}-share-lnk" href="#estate-{{ ad.id }}-share" class="" role="tab" aria-controls="estate-{{ ad.id }}-share" aria-expanded="false" data-toggle="collapse" data-parent="#estate-{{ ad.id }}-tab">
                    <span class="fa fa-share"></span>
                    <span class="hidden-xs expand-hover-text">{% trans %}ad.share{% endtrans %}</span>
                </a>
            </li>
            {#{% if is_granted('ROLE_OPERATOR') and app.environment == 'dev' %}
                <li role="presentation" class="expand-hover">
                    <a id="estate-{{ ad.id }}-debug-lnk" href="#estate-{{ ad.id }}-debug" class="" role="tab" aria-controls="estate-{{ ad.id }}-debug" aria-expanded="false" data-toggle="collapse" data-parent="#estate-{{ ad.id }}-tab">
                        <span class="fa fa-wrench"></span>
                        <span class="hidden-xs expand-hover-text">{% trans %}ad.debug{% endtrans %}</span>
                    </a>
                </li>
            {% endif %}#}
        </ul>
        <div class="clearfix"></div>
        <div id="#estate-{{ ad.id }}-tab-content" class="tab-content clearfix">
            {% if ad.privilege.isAgency %}
                <div class="collapse col-md-12 tab-paned" id="estate-{{ ad.id }}-group" role="tabpanel" aria-labelledby="estate-{{ ad.id }}-group-lnk">
                    <div class="well">
                        {{ render(path('viteloge_frontend_message_new', { ad: ad.id })) }}
                    </div>
                </div>
            {% endif %}
            <div class="collapse col-md-12 tab-paned social-share" id="estate-{{ ad.id }}-share" role="tabpanel" aria-labelledby="estate-{{ ad.id }}-share-lnk">
                <div class="well">
                    {{ include('VitelogeFrontendBundle:Block:social_share.html.twig', { url: path('viteloge_frontend_ad_redirect', { 'id': ad.id }), text: 'viteloge.share.ad.text'|trans() }) }}
                </div>
            </div>
            {#{% if is_granted('ROLE_OPERATOR') and app.environment == 'dev' %}
            <div class="collapse col-md-12 tab-paned" id="estate-{{ ad.id }}-debug" role="tabpanel" aria-labelledby="estate-{{ ad.id }}-debug">
                <div class="well">{{ dump(ad) }}</div>
            </div>
            {% endif %}#}
        </div>
    </footer>
</article>
