{%- block areas  -%}
{%- if areas -%}
    {% set inseeCity = inseeCity|default(areas[0].inseeCity) %}
    <div class="panel-group" id="glossary-areas" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="glossary-area-{{ inseeCity.id }}-title">
                <h3 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#glossary-areas" href="#glossary-area-{{ inseeCity.id }}" aria-expanded="false" aria-controls="glossary-area-{{ inseeCity.id }}">
                        {% trans %}Area's from {% endtrans %}&nbsp;{{ inseeCity.name }}
                    </a>
                    <a class="collapsed rounded-icon small pull-right text-center" data-toggle="collapse" data-parent="#glossary-areas" href="#glossary-area-{{ inseeCity.id }}" aria-expanded="false" aria-controls="glossary-area-{{ inseeCity.id }}" aria-label="{% trans %}Extend{% endtrans %}">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </a>
                </h3>
            </div>
            <div id="glossary-area-{{ inseeCity.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="glossary-area-{{ inseeCity.id }}">
                <ul class="list-group">
                    {%- for area in areas -%}
                        {{ include('VitelogeFrontendBundle:Glossary:render/li-area.html.twig') }}
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
{%- endif -%}
{%- endblock -%}
