{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{%- block head_javascripts -%}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&amp;v=3.exp&amp;libraries=geometry"></script>
{%- endblock -%}

{%- block header -%}
    {%- embed 'VitelogeUserBundle:base:header.html.twig' -%}
        {%- block header_navbarheader -%}
            <div class="navbar-header" id="navbar-button-logo">
                {%- block header_button -%}
                    {{- parent() -}}
                    <button type="button" class="visible-xs pull-right btn btn-inverted navbar-button collapsed" data-toggle="collapse" data-target="#map-container" aria-expanded="true" aria-controls="map-container">
                        <span class="sr-only">{% trans %}viteloge.more{% endtrans %}</span>
                        <span class="fa fa-arrow-circle-down"></span>
                        <span class="icon-bar"></span>
                    </button>
                {%- endblock header_button -%}
                {{- block('header_logo') -}}
                {{- block('header_more') -}}
            </div>
        {%- endblock -%}
        {%- block header_navigation_more -%}
            <li class="tab text-uppercase dropdown hidden-xs active" role="presentation">
                <a href="#map-container" data-toggle="collapse" aria-expanded="true" aria-controls="map-container" role="button">
                    <span class="fa fa-arrow-circle-down"></span>
                </a>
            </li>
        {%- endblock header_navigation_more -%}
    {%- endembed -%}
{%- endblock header -%}

{%- block body_start -%}
    {%- if form is defined -%}
        {% set mapOptions = mapOptions|default(false) %}
        {%- embed "VitelogeFrontendBundle:misc:googlemap.html.twig" with { mapOptions: mapOptions } -%}
            {#- block over -#}
                {# include('VitelogeFrontendBundle:Glossary:form/adSearch.html.twig', { form: form, theme_container: 'map-container' }) #}
            {#- endblock -#}
        {%- endembed -%}
    {%- endif -%}
{%- endblock -%}
{%- block javascripts -%}
    {{ parent() }}
{%- endblock javascripts -%}
