       <div class="clear"></div>
    	<li class="footlihead">
         <b>{{ type }} à {{ ('footer.transaction.article.'~transaction)|trans }}</b>

        </li>
        {% for glossarie in glossary %}
            <li class="footli">
			    <a href="{{ path('viteloge_frontend_ad_search', { 'transaction': transaction, 'where': glossarie.inseeCity,'what': type }) }}">{{ type }} à {{ ('footer.transaction.article.'~transaction)|trans }} {{ glossarie.name }}</a>
			</li>
        {% endfor %}
