{% form_theme form _self %}
{% trans_default_domain 'FOSUserBundle' %}

{% block _fos_user_profile_form_phone_widget %}
    {%- set type = type|default('tel') -%}
    {{ block('form_widget_simple') }}
{% endblock %}

{{ form_start(form, {'attr': {'action': path('fos_user_profile_edit'), 'enctype': 'application/x-www-form-urlencoded', 'class': 'fos_user_profile_edit form-horizontal', 'role': 'form', 'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="hidden">
        {{ form_row(form._token) }}
    </div>
    {{ form_row(form.civility) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.partnerContactEnabled) }}
    {{ include('VitelogeCoreBundle:Form:submit.html.twig', {
        back_uri: path('fos_user_profile_show'),
        submit_label: 'profile.edit.submit'|trans()
    }) }}
{{ form_end(form, {'render_rest': false}) }}
