<h1>Demande de contact via le site Vitelogé.com</h1>
<p>Vous avez reçu une demande de contact à partir de ViteLogé.com :</p>

<h2>Détails du contact :</h2>
<blockquote>
    <strong>Nom : </strong>{{ contact.fullname }}<br>
    <strong>Société: </strong>{{ contact.company }}<br>
    <strong>Email : </strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
    <strong>Adresse: </strong><address>{{ contact.address }}</address>
    <strong>Code postal: </strong>{{ contact.postalCode }}<br>
    <strong>Ville: </strong>{{ contact.city }}<br>
    <strong>Téléphone : </strong> {{ contact.phone }}<br>
</blockquote>

<h2>Détails du message</h2>
<blockquote>
    <strong>Object: </strong>{{ contact.subject }}<br>
    <strong>Message : </strong> {{ contact.message | raw }}
</blockquote>
