{% form_theme form with ['VitelogeFrontendBundle:Form:fields.html.twig'] %}

{{ form_start(form, {'attr': {'enctype': 'application/x-www-form-urlencoded','class': 'search', 'role': 'search', 'novalidate': 'novalidate'}}) }}
    {#% embed "VitelogeFrontendBundle:misc:blockerror.html.twig" with { 'form': form} %}
        {% block form_errors %}
            {{ form_errors(form) }}
            {{ form_errors(form.inseeCity) }}
            {{ form_errors(form.type) }}
            {{ form_errors(form.rooms) }}
            {{ form_errors(form.price) }}
            {{ form_errors(form.search) }}
        {% endblock %}
    {% endembed %#}
    {{ form_widget(form.transaction) }}
    <fieldset class="bg-darken text-left" role="tabpanel">
        <div class="row">
            <div class="col-md-4">
                {{ form_widget(form.inseeCity, { 'attr': { 'class': '',  'placeholder': 'Where', autocomplete: 'off', spellcheck: 'off', 'maxlength': 100 } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.type, { 'attr': { 'class': '' } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.rooms, { 'attr': { 'class': '', 'placeholder': 'Rooms number' } }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_widget(form.price, { 'attr': { 'class': '',  'placeholder': 'Minimum Price', 'maxlength': 10 } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.price, { 'attr': { 'class': '', 'placeholder': 'Maximum Price', 'maxlength': 10 } }) }}
            </div>
            <div class="col-md-4">
                {{ form_widget(form.search, { 'attr': { 'class': 'button' } }) }}
            </div>
        </div>
        {{ form_widget(form) }}
        <div class="row hidden">
            <div class="col-md-12">
                <a id="see-more" href="#search-more">{% trans %}Advanced search{% endtrans %}</a>
            </div>
        </div>
    </fieldset>
{{ form_end(form) }}
