{# form_theme form with ['VitelogeFrontendBundle:Form:fields.html.twig'] #}
{# form_theme form.transaction with['VitelogeFrontendBundle:Form:form_radio_span.html.twig'] #}

{%- block form_start -%}
{{ form_start(form, {'action': path('viteloge_frontend_ad_searchfromform'), 'attr': {'enctype': 'application/x-www-form-urlencoded','class': 'col-md-10 search', 'role': 'search', 'novalidate': 'novalidate'}}) }}
{%- endblock form_start -%}
    {%- block form_errors -%}
        {{ form_errors(form) }}
    {%- endblock form_errors -%}
    {%- block form_fields -%}
        <div class="hidden">
            {%- if form._token is defined -%}
                {{ form_row(form._token) }}
            {%- endif -%}
        </div>
        {# form_widget(form.transaction, { label_attr: { 'class': 'radio-inline' }, theme_container: theme_container|default('search-container') }) #}
        <div class="bg-darken text-left" role="tabpanel">

                <div class="firsthidden hidden-xs col-md-2 col-sm-2 no-padding un-input">
                    {{ form_row(form.what, {
                        'label_attr': {
                            'class': 'sr-only'
                        },
                        'attr': {
                            'class': 'select-tag-input',
                            'data-placeholder' : 'ad.what'|trans(),
                        }
                    }) }}
                </div>
                <div class="firsthidden hidden-xs col-md-2 col-sm-2 no-padding deux-input">
                    {{ form_row(form.transaction, {
                        'label_attr': {
                            'class': 'sr-only'
                        },
                        'attr': {
                            'class': 'select-tag-input',
                            'data-placeholder' : 'ad.transaction'|trans(),
                        }
                    }) }}
                </div>
            <div class="col-md-6 col-sm-4 col-xs-12 no-padding">
             <div class="col-md-12 col-sm-11 trois-input" style="z-index:0">
                    {{ form_row(form.where, {
                        'label_attr': {
                            'class': 'sr-only'
                        },
                        'attr': {
                            'class': 'select-tag-input btn-group',
                            'data-placeholder' : 'ad.where'|trans(),
                            'data-minimum-input-length': '3',
                            'data-allow-clear' : 'true',
                            'data-ajax--url' : path('viteloge_frontend_suggest_cities', { _format: 'json' }),
                            'data-ajax--cache' : 'false',
                            'data-ajax--data-type' : 'json',
                        }
                    }) }}
                </div>
                   <div class="col-md-1 col-sm-1 searchbtnplus searchplus">
                    <div id="moreinfo" class="btn btn-link bg-info header-height" alt="plus de critères" title="plus de critères" onclick="ga('send', 'event', 'page-listing-de-bien', 'clic-plus-de-criteres', 'bouton-plus-de-criteres')">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    </div>

                </div>



                <div class=" col-md-2 col-sm-2 col-xs-12 last-input" aria-label="">
                    {{ form_widget(form.search, {
                                'label': 'ad.search',
                                'span_class': 'hidden-sm hidden-md fa fa-search',
                                'attr': {
                                    'class': 'btn btn-primary searchbtn text-uppercase header-height',
                                    'role': 'button',
                                    'onclick':"ga('send', 'event', 'page-listing-de-bien', 'clic-rechercher', 'rechercher')"
                                }
                            }) }}

                        <div>

                    </div>
                </div>


            <div id="hiddeninput" class="row hidden" role="tabpanel">
                <div class="col-xs-12 col-sm-4 col-md-4 no-padding quatre-input">
                    {{ form_row(form.rooms, {
                        'label_attr': {
                            'class': 'sr-only'
                        },
                        'attr': {
                            'class': 'select-tag-input',
                            'data-placeholder' : 'ad.rooms.number'|trans(),
                        }
                    }) }}
                </div>
                <div class="col-xs-12 col-sm-2 col-md-3 no-padding cinq-input">
                    {{ form_row(form.minPrice, {
                        'label_attr': {
                            'class': 'sr-only'
                        },
                        'attr': {
                            'class': '',
                            'placeholder': 'ad.price.min',
                            'maxlength': 10
                        }
                    }) }}
                </div>
                <div class="col-xs-12 col-sm-2 col-md-3 no-padding sixe-input">
                    {{ form_row(form.maxPrice, {
                        'label_attr': {
                            'class': 'sr-only'
                        },
                        'attr': {
                            'class': '',
                            'placeholder': 'ad.price.max',
                            'maxlength': 10
                        }
                    }) }}
                </div>


            </div>
            <div class="row hidden">
                <div class="col-md-12">
                    <a id="see-more" href="#search-more">{% trans %}Advanced search{% endtrans %}</a>
                </div>

    {%- endblock form_fields -%}
    </div>
</div>
{%- block form_end -%}
{{ form_end(form, {'render_rest': false}) }}
{%- endblock form_end -%}
