{% extends 'VitelogeCoreBundle:Form:fields.html.twig' %}

{%- block radiotab_widget -%}
    <ul class="nav nav-pills nav-justified" role="tablist">
        {% for child in form.children %}
            <li class="{% if child.vars.checked %}active{% endif %}" role="presentation">
                <a class="text-uppercase" data-theme="theme-{{ child.vars.value }}" data-theme-hover="theme-{{ child.vars.value }}" data-theme-parent="#{{ theme_container }}">
                    {{ form_widget(child, { attr: { 'class': 'hidden' }, parent_label_class: 'radio-inline' }) }}
                    {{ form_label(child, { label_attr: { 'class': 'radio-inline' } }) }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {{ form_errors(form) }}
{%- endblock radiotab_widget -%}

{%- block _viteloge_frontend_usersearch_transaction_widget %}
    {{ block('radiotab_widget') }}
{% endblock _viteloge_frontend_usersearch_transaction_widget -%}

{%- block _viteloge_core_adsearch_transaction_widget %}
    {{ block('radiotab_widget') }}
{% endblock _viteloge_core_adsearch_transaction_widget -%}

{%- block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}{% if span_class is defined %}aria-label="{{ label|trans({}, translation_domain) }}"{% endif %}>
        {% if span_class is defined %}
            <span class="{{ span_class }}" aria-hidden="true">&nbsp;</span>
        {% endif %}
        <span>{{ label|trans({}, translation_domain) }}</span>
    </button>
{% endblock button_widget -%}
