{% extends 'VitelogeCoreBundle:Form:fields.html.twig' %}

{%- block radiotab_widget -%}
    <ul class="nav nav-pills nav-justified" role="tablist">
        {% for child in form.children %}
            <li class="{% if child.vars.checked %}active{% endif %}" role="presentation">
                <a class="text-uppercase transaction" data-theme="theme-{{ child.vars.value }}" data-theme-hover="theme-{{ child.vars.value }}" data-theme-parent="#{{ theme_container }}">
                    {{ form_widget(child, { attr: { 'class': 'hidden' }, parent_label_class: 'radio-inline' }) }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {{ form_errors(form) }}
{%- endblock radiotab_widget -%}

{%- block _viteloge_frontend_usersearch_transaction_widget %}
    {{ block('radiotab_widget') }}
{% endblock _viteloge_frontend_usersearch_transaction_widget -%}

{%- block _viteloge_core_adsearch_transaction_widget %}
    {{ block('radiotab_widget') }}
{% endblock _viteloge_core_adsearch_transaction_widget -%}
