{% trans_default_domain "breadcrumbs" %}

{%- if breadcrumbs is defined and breadcrumbs|length -%}
    <div{% if listId is defined %} id="{{ listId }}"{% endif %} class="container-fluid">
        <ol{% if listClass is defined %} class="{{ listClass }}"{% endif %} itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            {%- if breadcrumbs is defined and breadcrumbs|length -%}
                {%- for breadcrumb in breadcrumbs -%}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" {% if itemClass is defined and itemClass|length %} class="{{ itemClass }}"{% endif %}>
                        {%- if breadcrumb.url -%}
                            {%- if breadcrumb.url == path('viteloge_frontend_homepage') -%}
                            <a href="{{ breadcrumb.url }}{# path(breadcrumb.route) #}" itemprop="item" aria-label="{{ breadcrumb.text }}">
                                <span class="fa fa-home" aria-hidden="true"></span>
                                <span itemprop="name" class="sr-only">{{ breadcrumb.text }}</span>
                            </a>
                            {%- else -%}
                            <a href="{{ breadcrumb.url }}{# path(breadcrumb.route) #}" itemprop="item">
                                <span itemprop="name">{{ breadcrumb.text }}</span>
                            </a>
                            {%- endif -%}
                        {%- else -%}
                            <span itemprop="name">{{ breadcrumb.text }}</span>
                        {%- endif -%}
                        <meta itemprop="position" content="{{ loop.index }}">
                    </li>
                {%- endfor -%}
            {%- endif -%}
        </ol>
    </div>
{%- endif -%}
