{% spaceless %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        {% block header_navbar %}
            <div class="clearfix">
                {% block header_navbarheader %}
                    <div class="navbar-header" id="navbar-button-logo">
                        {% block header_button %}
                            <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-navigation" aria-expanded="false" aria-controls="navbar-navigation">
                                <span class="sr-only">{% trans %}toggle.navigation{% endtrans %}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        {% endblock %}
                        {% block header_logo %}
                            <a class="navbar-branded brand clearfix" href="{{ path('viteloge_frontend_homepage') }}" itemscope itemtype="http://schema.org/Brand">
                                <img src="{{ aws_s3_domain('bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg') }}" class="logo img-responsive" alt="{% trans %}viteloge.brand{% endtrans %}" title="{% trans %}viteloge.brand{% endtrans %} - {% trans %}viteloge.slogan{% endtrans %}" itemprop="logo" data-role="logo">
                                {#<h1 class="title text-uppercase">Vite<em class="em">logé</em></h1>
                                <h2 class="subtitle clearfix text-uppercase">Moteur de recherche immobilier</h2>#}
                            </a>
                        {% endblock %}
                        {%- block header_more -%}

                        {%- endblock header_more -%}
                    </div>
                {% endblock %}
                {% block header_navbarmenu %}
                    <div class="collapse navbar-collapse" id="navbar-navigation">
                        {%- block header_brand -%}
                        <div class="visible-xs-block">
                            <button type="button" class="close" aria-label="{%- trans -%}viteloge.close{%- endtrans -%}"><span aria-hidden="true">&times;</span></button>
                            <img src="{{ aws_s3_domain('bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg') }}" class="logo img-responsive" alt="{% trans %}viteloge.brand{% endtrans %}" title="{% trans %}viteloge.brand{% endtrans %} - {% trans %}viteloge.slogan{% endtrans %}" itemprop="logo" data-role="logo">
                        </div>
                        <hr class="visible-xs">
                        {%- endblock header_brand -%}
                        {% block header_identification %}
                        <div class="clearfix">
                            <ul id="identification" class="nav navbar-nav navbar-right">
                                {% if not app.user or not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li>
                                        <a href="{{ path('fos_user_registration_register') }}" class="">
                                            <span class="icon-icon-subscribe"></span>
                                            <span>&nbsp;{% trans %}user.registration{% endtrans %}</span>
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <span class="navbar-text vr">&nbsp;</span>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}" class="">
                                            <span class="icon-icon-connect"></span>
                                            <span>&nbsp;{% trans %}user.connection{% endtrans %}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <span class="icon-icon-connect" aria-hidden="true"></span>
                                            <span>&nbsp;{{ app.user.fullname }}&nbsp;</span>
                                            <span class="caret"></span>
                                        </a>
                                        {{ include('VitelogeFrontendBundle:menu:user.html.twig', { }) }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% endblock %}
                        <div class="clearfix"></div>
                        {%- block header_navigation -%}
                            {%- set transaction = app.request.get('transaction')|vl_transaction_alias|lower -%}
                            <ul id="navigation" class="nav navbar-nav navbar-right">
                                <li class="text-uppercase{% if transaction == 'v' %} active{% endif %}" role="presentation">
                                    <a href="{{ path('viteloge_frontend_ad_search', { transaction: 'v' }) }}" data-theme-hover="theme-sale">{% trans %}ad.sale{% endtrans %}</a>
                                </li>
                                <li class="text-uppercase{% if transaction == 'l' %} active{% endif %}" role="presentation">
                                    <a href="{{ path('viteloge_frontend_ad_search', { transaction: 'l' }) }}" data-theme-hover="theme-rent">{% trans %}ad.rent{% endtrans %}</a>
                                </li>
                                <li class="text-uppercase{% if transaction == 'n' %} active{% endif %}" role="presentation">
                                    <a href="{{ path('viteloge_frontend_ad_search', { transaction: 'n' }) }}" data-theme-hover="theme-new">{% trans %}ad.new{% endtrans %}</a>
                                </li>
                                {%- block header_navigation_more -%}

                                {%- endblock header_navigation_more -%}
                            </ul>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </nav>
</div>
{% endspaceless %}
