{% spaceless %}
{% block header_menu_user %}
    <nav class="header-nav nav-perso">
        <ul class="list-unstyled main-menu">
            <li class="text-right">
                <a href="#" id="nav-close"><i class="fa fa-bars fa-lg white"></i>
                    &nbsp;&nbsp;<i class="fa fa-caret-right white"></i></a>
            </li>
            {% if not app.user or not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                {{- include('VitelogeUserBundle:Registration:fragment/subscribe_block_right.html.twig') -}}
            </li>
            <li>
                {{- include('VitelogeUserBundle:Security:fragment/form_right.html.twig') -}}
            </li>
            {% else %}
            </li>
        {% if app.request.cookies.has('viteloge_favorie') %}
            <li>
                <a href="{{ path('viteloge_frontend_favourite_list') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;Mes biens favoris</a>
            </li>
        {% endif %}
            <li>
                <a href="{{ path('viteloge_frontend_websearch_list') }}"><i class="fa fa-search" aria-hidden="true"></i> &nbsp;Mes alertes</a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-cogs" aria-hidden="true"></i> &nbsp;Mon profil</a>
            </li>
            <li>
                <i class="fa fa-history" aria-hidden="true"></i> &nbsp;Derniers biens vus
                <br>
                {% set images = app.request.cookies.get('viteloge_photo')|split('#$#') %}
                {% set urls = app.request.cookies.get('viteloge_url')|split('#$#') %}

                {% for key,image in images %}
                    {% if image is not empty %}
                <a href="{{ urls[key] }}" alt="ouvrir la fiche" title="ouvrir la fiche" target="_blank">
                    <img src="{{ aws_s3_domain(image, false) }}" style="margin:auto;background-image: url(http://media.viteloge.com/bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg.gz);background-position: center center; background-repeat: no-repeat;background-color: #ddd;height:157px" />
                </a>
                 {% endif %}
                {% endfor %}
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;Déconnexion</a>
            </li>
             {% endif %}
        </ul>
    </nav>
    <a id="nav-expander" class="nav-expander fixed" onclick="ga('send', 'event', 'page-listing-de-bien', 'clic-menu', 'menu')"><i class="fa fa-bars fa-lg white"></i></a>

{% endblock header_menu_user %}
        {% block header_navbar %}
            <div class="clearfix">
                {% block header_navbarheader %}

                {% endblock %}
                {% block header_navbarmenu %}
                    <div class="navbar-wrapper header-top">
                        {%- block header_brand -%}
                        <div class="col-md-10">

                            <a class="col-md-2 col-sm-1 navbar-brand" href="{{ path('viteloge_frontend_homepage') }}">
                                <img width="100%" src="{{ aws_s3_domain('bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg') }}" class="logo img-responsive" alt="{% trans %}viteloge.brand{% endtrans %}" title="{% trans %}viteloge.brand{% endtrans %} - {% trans %}viteloge.slogan{% endtrans %}" itemprop="logo" data-role="logo">
                            </a>
                       {%- if form is defined -%}
                                    {# include('VitelogeFrontendBundle:Ad:form/adSearch.html.twig', { form: form, isTransactionLabelHidden: false, theme_container: 'search-container' }) #}

                                   {{ include('VitelogeFrontendBundle:Ad:form/adSearch_redirect.html.twig', { form: form, isTransactionLabelHidden: false, theme_container: 'search-container' }) }}
                        {%- endif -%}
                        </div>
                        <hr class="visible-xs">
                        {%- endblock header_brand -%}
                        {% block header_identification %}
                        <div class="clearfix">





                            <div class="navbluebtn">
                           {% if app.user or is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <ul id="identification" class="btn btn-primary pull-right btn-lg hidden-xs hidden-sm hidden-md visible-lg bleu-button">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" onclick="ga('send', 'event', 'page-listing-de-bien', 'clic-info-compte', 'acces-info-compte')">


                                            <span>{{ app.user.fullname }}&nbsp;</span>
                                            <span class="caret"></span>
                                        </a>
                                        {{ include('VitelogeFrontendBundle:menu:user.html.twig', { }) }}
                                    </li>
                                {% endif %}
                            </ul>
                            </div>

                        </div>
                        {% endblock %}
                        <div class="clearfix"></div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
{% endspaceless %}
