{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{%- block schema -%}
    itemscope itemtype="http://schema.org/WebPage"
{%- endblock schema -%}

{%- block breadcrumb -%}
    {%- set breadcrumbs = [
        { url : path('viteloge_frontend_homepage'), text: 'Home'},
        { url : '', text: block('main_title')|striptags},
    ] -%}
    {{ include('VitelogeUserBundle:base:breadcrumb.html.twig', { listClass: 'breadcrumb', breadcrumbs: breadcrumbs }) }}
{%- endblock breadcrumb -%}

{%- block header -%}
    {%- embed 'VitelogeUserBundle:base:header.html.twig' -%}
        {%- block header_navigation_more -%}
            <li class="text-uppercase dropdown active" role="presentation">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{% trans %}viteloge.more{% endtrans %}" role="button">
                    <span class="fa fa-plus hidden-xs" aria-hidden="true">&nbsp;</span>
                    <span class="visible-xs-inline">{% trans %}viteloge.more{% endtrans %}</span>
                </a>
                {{ include('VitelogeFrontendBundle:menu:static.html.twig', {}) }}
            </li>
        {%- endblock header_navigation_more -%}
    {%- endembed -%}
{%- endblock header -%}

{%- block teaser -%}
    one
{%- endblock teaser -%}

{%- block main -%}
<div class="teaser {{ block('teaser') }}">
    <article class="over container text-justify">
        <h3 class="text-uppercase text-center">{{- block('main_title') -}}</h3>
        {{- block('main_content') -}}
    </article>
</div>
{%- endblock -%}

{%- block main_title -%}
    {{- block('title')|striptags -}}
{%- endblock -%}

{%- block main_content -%}

{%- endblock main_content -%}
