{% block menu_footer %}
<nav class="navigation" role="navigation">
    <ul class="clearfix list-inline">
        <li>
            <a href="{{ path('viteloge_frontend_homepage') }}">{% trans %}viteloge.home{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_about') }}">{% trans %}viteloge.frontend.static.about.short{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_gtc') }}">{% trans %}viteloge.frontend.static.gtc.short{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_mention') }}">{% trans %}viteloge.frontend.static.mention.short{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_sitemap_index') }}">{% trans %}viteloge.sitemap{% endtrans %}</a>
        </li>
    </ul>
</nav>
{% endblock %}
