{% block menu_footer %}
<nav class="navigation" role="navigation">
    <ul class="clearfix">
        <li><a href="{{ path('viteloge_frontend_homepage') }}">{{ 'Home'|trans }}</a></li>
        <li><a href="{{ path('viteloge_frontend_about') }}">{{ 'About Fasthousing'|trans }}</a></li>
        <li><a href="{{ path('viteloge_frontend_gtc') }}">{{ 'GTC'|trans }}</a></li>
        <li><a href="{{ path('viteloge_frontend_sitemap') }}">{{ 'Sitemap'|trans }}</a></li>
    </ul>
</nav>
{% endblock %}
