<nav>
    <ul>
        <li>
            <a href="{{ path('viteloge_frontend_static_about') }}">{% trans%}Informations on Fasthousing{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_why') }}">{% trans%}Why{% endtrans %} {% trans %}Fasthousing{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_ad') }}">{% trans%}Your ad on Fasthousing{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_privacy') }}">{% trans%}Privacy{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_recommand') }}">{% trans%}Recommand{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_subscribe') }}">{% trans%}Subscribe{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_register') }}">{% trans%}Register{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_apiform') }}">{% trans%}Fasthousing API{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_static_gtc') }}">{% trans%}General Terms and Conditions{% endtrans %}</a>
        </li>
    </ul>
</nav>
