<nav>
    <ul>
        <li>
            <a href="{{ path('viteloge_frontend_about') }}">{% trans%}Informations on Fasthousing{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_why') }}">{% trans%}Why{% endtrans %} {% trans %}Fasthousing{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_ad') }}">{% trans%}Your ad on Fasthousing{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_privacy') }}">{% trans%}Privacy{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_recommand') }}">{% trans%}Recommand{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_subscribe') }}">{% trans%}Subscribe{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_register') }}">{% trans%}Register{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_apiform') }}">{% trans%}Fasthousing API{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('viteloge_frontend_gtc') }}">{% trans%}General Terms and Conditions{% endtrans %}</a>
        </li>
    </ul>
</nav>
