<!doctype html>
<html lang="{{ app.request.getLocale() }}"><!--manifest="viteloge.appcache"-->

    <!-- block head -->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% trans %}Fast Housing{% endtrans %}{% endblock title %}</title>

        {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        {% endblock head_meta %}

        {% block head_icon %}
        <link rel="apple-touch-icon" href="{{ asset('bundles/frontendbundle/public/images/apple/touch-icon-iphone.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/frontendbundle/public/images/apple/touch-icon-ipad.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/frontendbundle/public/images/apple/touch-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/frontendbundle/public/images/apple/touch-icon-ipad-retina.png') }}">
        <link rel="apple-touch-startup-image" href="{{ asset('bundles/frontendbundle/public/images/common/logo.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#000">
        <meta name="msapplication-TileImage" content="{{ asset('bundles/frontendbundle/public/images/common/icon.png') }}">
        {% endblock head_icon %}

        {% block head_stylesheets %}
            <!--<link rel="stylesheet" href="{{ asset('built/min.css') }}">-->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% endblock head_stylesheets %}

        {% block head_javascripts %}
            <script src="{{ asset('assets/js/require.js') }}"></script>
            <script src="{{ asset('assets/js/hinclude.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.js') }}"></script>

            <script src="{{ asset('bundles/frontendbundle/js/modernizr.min.js') }}"></script>
            <script src="{{ asset('bundles/frontendbundle/js/carousel.bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/frontendbundle/js/viteloge.jquery.js') }}"></script>
            {% block head_javascripts_requirejs %}{% endblock head_javascripts_requirejs %}
        {% endblock head_javascripts %}
    </head>

    <body class="body{% block theme %}default{% endblock theme %}" itemscope itemtype="http://schema.org/WebPage">
    {% block body %}
        <header class="header" data-role="header">
        {% block header %}
            {% embed "VitelogeUserBundle:base:header.html.twig" %}{% endembed %}
        {% endblock header %}
        {% block breadcrumb %}
            {# include('VitelogeUserBundle:base:breadcrumb.html.twig') #}
            {{ wo_render_breadcrumbs() }}
        {% endblock breadcrumb %}
        </header>
        <main class="main" role="main">
        {% block flash %}
            {{ include('VitelogeUserBundle:base:flash.html.twig') }}
        {% endblock flash %}
        {% block body_start %}

        {% endblock body_start %}
        {% block main %}

        {% endblock main %}
        {% block body_end %}

        {% endblock body_end %}
        </main>
        <footer data-role="footer">
        {% block footer %}
            <div class="container text-center">
                {{ include('VitelogeFrontendBundle:menu:footer.html.twig', {}) }}
                {{ include('VitelogeFrontendBundle:misc:social.html.twig', {}) }}
                {{ include('VitelogeFrontendBundle:misc:copyright.html.twig', {}) }}
            </div>
        {% endblock footer %}
        </footer>
    {% endblock body %}
    {% block javascripts %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://www.berriart.com/sidr/javascripts/sidr/jquery.sidr.min.js"></script>
    {% endblock javascripts %}
    </body>

</html>
