<!doctype html>
<html {{ sonata_seo_html_attributes() }}>{#<!--manifest="viteloge.appcache"-->#}
    <head {{ sonata_seo_head_attributes() }}>
        {%- block head_meta -%}
            {{ sonata_seo_metadatas() }}
            {{ sonata_seo_link_canonical() }}
            {{ sonata_seo_lang_alternates() }}
            <meta name="msapplication-TileImage" content="{{ asset('bundles/frontendbundle/images/common/icon.png') }}">
        {%- endblock head_meta -%}
        {%- block title -%}
            {{ sonata_seo_title() }}
        {%- endblock title -%}
        {%- block head_icon -%}
            <link rel="apple-touch-startup-image" href="{{ asset('bundles/frontendbundle/images/common/logo.png') }}">
            <link rel="apple-touch-icon" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon.png') }}">
            <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-57x57.png') }}">
            <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-60x60.png') }}">
            <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-72x72.png') }}">
            <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-76x76.png') }}">
            <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-114x114.png') }}">
            <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-120x120.png') }}">
            <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-144x144.png') }}">
            <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-152x152.png') }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/frontendbundle/images/favicon/apple/apple-touch-icon-180x180.png') }}">
            <link rel="icon" type="image/png" href="{{ asset('bundles/frontendbundle/images/favicon/favicon-16x16.png') }}" sizes="16x16">
            <link rel="icon" type="image/png" href="{{ asset('bundles/frontendbundle/images/favicon/favicon-32x32.png') }}" sizes="32x32">
            <link rel="icon" type="image/png" href="{{ asset('bundles/frontendbundle/images/favicon/favicon-194x194.png') }}" sizes="194x194">
            <link rel="icon" type="image/png" href="{{ asset('bundles/frontendbundle/images/favicon/favicon-96x96.png') }}" sizes="96x96">
            <link rel="icon" type="image/png" href="{{ asset('bundles/frontendbundle/images/favicon/android/android-chrome-192x192.png') }}" sizes="192x192">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
            <link rel="author" type="text/plain" href="humans.txt">
        {%- endblock head_icon -%}
        {%- block head_stylesheets -%}
            <link rel="stylesheet" href="{{ asset('built/min.css') }}">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/vitelogecore/css/viteloge-core.css') }}">
        {%- endblock head_stylesheets -%}
        {%- block head_javascripts -%}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            {#<script src="{{ asset('assets/js/require.js') }}"></script>#}
            <script src="{{ asset('assets/js/hinclude.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/frontendbundle/js/modernizr.min.js') }}"></script>
            <script src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            {% block head_javascripts_requirejs %}{% endblock head_javascripts_requirejs %}
        {%- endblock head_javascripts -%}
    </head>
    <body class="body{% block theme %} {{vl_theme()}}{% endblock theme %}" {% block schema %}itemscope itemtype="http://schema.org/WebPage"{% endblock schema %}>
    {%- block init_javascripts -%}
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId : '{{ facebook_client_id }}',
              cookie : true,
              xfbml : true,
              version : '{{ facebook_app_version }}'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/fr_FR/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ ga_tracking }}', 'auto');
          ga('send', 'pageview');
        </script>
    {%- endblock init_javascripts -%}
    {%- block html_start -%}

    {%- endblock html_start -%}
    {%- block body -%}
        <header class="header" data-role="header">
            {%- block header_start %}

            {% endblock -%}
            {%- block header -%}
                {{ include('VitelogeUserBundle:base:header.html.twig') }}
            {%- endblock header -%}
            <div class="subheader">
                {%- block breadcrumb %}
                    {{ wo_render_breadcrumbs() }}
                {% endblock breadcrumb -%}
                {%- block header_end %}

                {% endblock -%}
            </div>
        </header>
        <main class="main clearfix" role="main">
        {%- block flash -%}
            {{ include('VitelogeUserBundle:base:flash.html.twig') }}
        {%- endblock flash -%}
        {%- block body_start -%}

        {%- endblock body_start -%}
        {%- block main -%}

        {%- endblock main -%}
        {%- block body_end -%}

        {%- endblock body_end -%}
        </main>
        <footer data-role="clearfix footer">
        {%- block footer_start -%}

        {%- endblock -%}
        {%- block footer -%}
            <div class="container text-center">
                {{- include('VitelogeFrontendBundle:menu:footer.html.twig', {}) -}}
                {{- include('VitelogeFrontendBundle:misc:social.html.twig', {}) -}}
            </div>
            <div class="container text-center text-secondary">
                {{- include('VitelogeFrontendBundle:misc:copyright.html.twig', {}) -}}
            </div>
        {%- endblock footer -%}
        </footer>
    {%- endblock body -%}
    {%- block html_end -%}
        {{- include('VitelogeFrontendBundle:misc:cookie-policy.html.twig', {}) -}}
        {{- include('VitelogeFrontendBundle:misc:backtotop.html.twig', {}) -}}
    {%- endblock html_end -%}
    {%- block javascripts %}
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}"></script>
        <script src="{{ asset('assets/js/cookie.jquery.js') }}"></script>
        <script src="{{ asset('assets/js/select2.js') }}"></script>
        <script src="{{ asset('assets/js/select2.fr.js') }}"></script>
        <script src="{{ asset('assets/js/placeholders.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{{ asset('assets/js/owl.carousel.js') }}"></script>
        <script src="{{ asset('assets/js/background-check.js') }}"></script>
        <script src="{{ asset('assets/js/history.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.lazyload.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.smooth-scroll.js') }}"></script>
        <script src="{{ asset('bundles/frontendbundle/js/viteloge.jquery.js') }}"></script>
        <script src="{{ asset('bundles/frontendbundle/js/viteloge.js') }}"></script>
    {% endblock javascripts -%}
    </body>
</html>
