{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_debug %}
    <ol>
        {% for key, value in _context %}
        <li>{{ key }}</li>
        {% endfor %}
    </ol>
{% endblock %}

{% block form_widget_success -%}
    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span class="sr-only">(error)</span>
{%- endblock %}

{% block form_widget_warning -%}
    <span class="glyphicon glyphicon-warning form-control-feedback" aria-hidden="true"></span>
    <span class="sr-only">(error)</span>
{%- endblock %}

{% block form_widget_error -%}
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span class="sr-only">(error)</span>
{%- endblock %}

{% block form_widget_simple -%}
    {{- parent() -}}
    {% if (not compound or force_error|default(false)) and not valid %}
        {{- block('form_widget_error') -}}
    {% endif %}
{%- endblock form_widget_simple %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error has-feedback{% endif %}">
        {{- form_label(form) -}}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{# Errors #}
{% block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- if form.parent -%}
            <span class="help-block">
                <ul class="list-unstyled">
                    {%- for error in errors -%}
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </span>
        {%- else -%}
            {%- embed 'VitelogeCoreBundle:Global:alert.html.twig' with { alerts: errors, valid: valid, type: 'danger', dismissible: true } -%}
                {%- block alert_title -%}
                    {% trans %}Error{% endtrans %}&nbsp;:
                {%- endblock -%}
            {%- endembed -%}
        {%- endif -%}
    {%- endif -%}
{%- endblock %}
