<aside class="">
    <div class="">
        {{ include('VitelogeFrontendBundle:misc:adsense.html.twig', {}) }}
    </div>
    <div class="clearfix">
        <div class="services row-no-padding" role="listbox">
            {{ render_hinclude(path('viteloge_frontend_service_list', { })) }}
        </div>
    </div>
    <div class="clearfix">
        {{ include('VitelogeFrontendBundle:misc:adsense.html.twig', {}) }}
    </div>
     <div class="clearfix">
        {{ render_hinclude(path('viteloge_frontend_ad_suggestnew', { 'limit': 3 })) }}
    </div>
     <div class="clearfix">
        {{ include('VitelogeFrontendBundle:misc:adsense.html.twig', {}) }}
    </div>
</aside>
