<span>{{ 'viteloge.share.ad.with' }}</span>
<div class="fb-share-button" data-href="{{ url }}" data-layout="button_count"></div>
<span class="tweet-position"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url }}" data-text="{{ text }}" data-hashtags="viteloge" data-related="viteloge"{% if user is defined %} data-via="{{ user.fullname }}"{% endif %}>Tweet</a></span>
