{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{% set roomsurface =  include('VitelogeFrontendBundle:Ad:fragment/rooms_and_surface_url.html.twig', { 'ad': ad })  %}
{% if ad.cityName is defined and ad.cityName is not empty %}
            {% if ad.transaction is defined and ad.transaction is not empty %}
                 {% if ad.transaction == 'V' %}
                    {% set transac = ' à vendre'%}
                {% elseif ad.transaction == 'L'%}
                    {% set transac = ' à louer'%}
                {% else %}
                    {% set transac =' neufs'%}
                {% endif %}

                {% set description = ad.cityName~transac~' '~roomsurface %}
             {% else %}
                {% set description = ad.cityName~' '~roomsurface %}
             {% endif %}
{% else %}
     {% set description = transac~' '~roomsurface %}
{% endif %}
{% block head_javascripts_requirejs %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock head_javascripts_requirejs %}
{%- block header -%}
    {%- embed "VitelogeUserBundle:base:smallHeaders.html.twig" with {form:form} -%}
        {%- block header_navbarheader -%}

        {%- endblock -%}

    {%- endembed -%}
{%- endblock -%}
{%- block flash -%}
    {{- include('VitelogeUserBundle:base:flash.html.twig', { hideContainer: true }) -}}
{%- endblock flash -%}

{%- block main -%}

  <iframe src="{{ ad.url }}" width="100%" height="100%" style="background-color: #eee;
    border: medium none;
    position: absolute; "></iframe>

{%- endblock -%}
{%- block footer -%}

{%- endblock -%}
{%- block header_end %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-5">
                <h1 style="text-transform: uppercase;font-size:12px !important;color:#00a1c6;">{{ ad.agencyName~' propose :' }}</h1>
                <h2 style="text-transform: uppercase;font-size:10px !important;margin:0;padding:0;color:#00a1c6;">{{ ad.type }} {% trans %} ad.at {% endtrans %} {{ ('footer.transaction.article.'~ad.transaction)|trans }} {{ ad.cityName }} ({{ ad.postalcode }}) - {{ ad.price | schematizedcurrency('EUR') | raw }}</h2>
                 <small style="color:#00a1c6;"> {{ ad.advancedDescription|truncate(200, false, '...')|normalize_utf8|raw }}</small>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 text-left header-top">
                            {% if app.request.attributes.get('_route') == 'viteloge_frontend_agency_view' %}
                                <a href="{{ app.session.get('currentUrl') }}" class="btnlist">
                                <button type="button" alt="retour à la liste de résultats" title="retour à la liste de résultats" class="btn btn-primary btn-lg" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-menu', 'menu')">
                                    <i class="fa fa-list"></i>
                                </button>
                            {% elseif app.request.attributes.get('_route') == 'viteloge_frontend_agency_home' %}
                                <a href="{{ path('viteloge_frontend_ad_latest_list') }}" class="btnlist" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-menu', 'menu')">
                                <button type="button" alt="derniers biens" title="Nos derniers biens" class="btn btn-primary btn-lg">
                                    <i class="fa fa-list"></i>
                                </button>
                            {% else %}
                                <a href="{{ path('viteloge_frontend_favourite_list') }}" class="btnlist" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-menu', 'menu')">
                                <button type="button" alt="Listes des favoris" title="retour à la liste des favoris" class="btn btn-primary btn-lg">
                                    <i class="fa fa-list"></i>
                                </button>
                            {% endif %}
                                </a>
                                {% if ads[clef-1] is defined %}
                                    {% set moins =  left~'-'~ads[clef-1].id %}
                                {% if app.request.attributes.get('_route') == 'viteloge_frontend_agency_home' %}
                                <a href="{{ path('viteloge_frontend_agency_home', { 'id': moins, 'description':description|slugify }) }}" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-bouton-precedent', 'bouton-precedent')">{% else %}<a href="{{ path('viteloge_frontend_agency_view', { 'id': moins, 'description':description|slugify }) }}" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-bouton-precedent', 'bouton-precedent')">{% endif %}{% endif %}
                                <button type="button" alt="bien précédent" title="bien précédent" class="btn btn-primary btn-lg" {% if ads[clef-1] is not defined %}style ="cursor:none"{% endif %}>
                                     <i class="fa fa-chevron-left"></i>
                                </button>
                               {% if ads[clef-1] is defined %} </a>
                                {% endif %}
                                {% if ads[clef+1] is defined %}
                                    {% set plus=  right~'-'~ads[clef+1].id %}
                            {% if app.request.attributes.get('_route') == 'viteloge_frontend_agency_home' %}
                            <a href="{{ path('viteloge_frontend_agency_home', { 'id': plus, 'description':description|slugify }) }}" class="" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-bouton-suivant', 'bouton-suivant')">{% else %}<a href="{{ path('viteloge_frontend_agency_view', { 'id': plus, 'description':description|slugify }) }}" class="" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-bouton-suivant', 'bouton-suivant')">{% endif %}{% endif %}
                                <button type="button" alt="bien suivant" title="bien suivant" class="btn btn-primary btn-lg">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                           {% if ads[clef+1] is defined %} </a>
                                {% endif %}
            </div>
            <div class="col-xs-8 col-sm-3 col-md-4 col-lg-5 text-right header-top">


                          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or app.user %}
                                {% if favorie == false %}

                            <a id="addfav" data-value="{{ ad.id }}" style="cursor: pointer;" onclick="ga('send', 'event', 'page-fiche-de-bien', 'clic-favoris', 'favoris')">

                                <button id="btnfav" type="button" alt="favoris" title="favoris" class="btn btn-primary btn-lg">
                                  <i class="fa fa-star"></i> <span class="hidden-xs hidden-sm hidden-md">{% trans %}viteloge.favourite{% endtrans %}</span>

                                </button>
                            </a>
                            {% else %}
                                <button type="button" alt="favoris" title="dans vos favoris" class="btn btn-primary btn-lg" style="background-color:#196a7d !important;">
                                   <i class="fa fa-star"></i><span class="hidden-xs hidden-sm hidden-md"> {% trans %}viteloge.favourite{% endtrans %}</span>

                                </button>
                            {% endif %}
                            {% endif %}
                            {% if ad.privilege.isAgency %}
                            <a id="estate-{{ ad.id }}-group-lnk" href="#estate-{{ ad.id }}-group" class="showMessage" role="tab" aria-controls="estate-{{ ad.id }}-group" aria-expanded="false" data-toggle="tab" data-value="{{ ad.id }}" data-parent="#estate-{{ ad.id }}-tab" itemprop="url" onclick="ga('send', 'event', 'page-contacter-lagence', 'clic-contacter-lagence', 'contacter-lagence')">
                                <button type="button" alt="contact" title="contact" class="btn btn-primary btn-lg">
                                    <i class="fa fa-envelope"></i><span class="hidden-xs hidden-sm hidden-md"> {% trans %}viteloge.contact{% endtrans %}</span>

                                </button>
                            </a>
                            {% endif %}
                            <span id="surtaxphone" data-value="{{ ad.agencyId }}">
                                <button type="button" alt="contact" title="contact" class="btn btn-primary btn-lg" onclick="ga('send', 'event', 'page-fiche-de-bien', 'ask-clic-telephoner', 'telephoner')">
                                    <i class="fa fa-phone"></i><span class="hidden-xs hidden-sm hidden-md">{% trans %}viteloge.phone{% endtrans %}</span>
                                </button>
                          </span>

            </div>
        </div>

    </div>

{% endblock -%}
{%- block javascripts -%}
    {{- parent() -}}
    <script>
        jQuery(document).ready(function() {
            OnLoadAddFav();
            GetPhoneNumber();
        });

    </script>
{%- endblock javascripts -%}
