{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{% block head_javascripts_requirejs %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock head_javascripts_requirejs %}
{%- block header -%}
    {%- embed "VitelogeUserBundle:base:smallHeaders.html.twig" with {key:key,form:form} -%}
        {%- block header_navbarmenu -%}
            <div class="collapse navbar-collapse" id="navbar-navigation">
                {{- block('header_brand') -}}
                {{- block('header_identification') -}}
            </div>
        {%- endblock -%}
    {%- endembed -%}
{%- endblock -%}
{%- block flash -%}
    {{- include('VitelogeUserBundle:base:flash.html.twig', { hideContainer: true }) -}}
{%- endblock flash -%}

{%- block main -%}

  <iframe src="{{ ad.url }}" width="100%" height="100%" style="background-color: #eee;
    border: medium none;
    position: absolute; "></iframe>

{%- endblock -%}
{%- block footer -%}

{%- endblock -%}
{%- block header_end %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-10 col-md-9 col-lg-9">
                <h1 style="text-transform: uppercase;font-size:10px !important;">{{ ad.type }} {{ ad.cityName }} {% trans %} ad.at {% endtrans %} {{ ('footer.transaction.article.'~ad.transaction)|trans }} ({{ ad.postalcode }}) - {{ ad.price | schematizedcurrency('EUR') | raw }}</h1><br>
                 <small> {{ ad.advancedDescription|truncate(200, false, '...')|normalize_utf8|raw }}</small>
            </div>
            <div class="col-sm-2 col-md-3 col-lg-3 text-right hidden-xs">

            </div>
        </div>

    </div>

{% endblock -%}
{%- block javascripts -%}
    {{- parent() -}}
    <script>
        jQuery(document).ready(function() {
            displayInput();
            displayMessage();
            OnLoadAddFav();
        });

    </script>
{%- endblock javascripts -%}
