{% extends 'VitelogeFrontendBundle::base.html.twig' %}
{% block head_javascripts_requirejs %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock head_javascripts_requirejs %}
{%- block header -%}
    {%- embed "VitelogeUserBundle:base:smallHeaders.html.twig" with {clef:clef,form:form} -%}
        {%- block header_navbarmenu -%}
            <div class="collapse navbar-collapse" id="navbar-navigation">
                {{- block('header_brand') -}}
                {{- block('header_identification') -}}
            </div>
        {%- endblock -%}
    {%- endembed -%}
{%- endblock -%}
{%- block flash -%}
    {{- include('VitelogeUserBundle:base:flash.html.twig', { hideContainer: true }) -}}
{%- endblock flash -%}

{%- block main -%}

  <iframe src="{{ ad.url }}" width="100%" height="100%" style="background-color: #eee;
    border: medium none;
    position: absolute; "></iframe>

{%- endblock -%}
{%- block footer -%}

{%- endblock -%}
{%- block header_end %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h1 style="text-transform: uppercase;font-size:12px !important;color:#00a1c6;">{{ ad.agencyName~' propose :' }}</h1>
                <h2 style="text-transform: uppercase;font-size:10px !important;margin:0;padding:0;color:#00a1c6;">{{ ad.type }} {% trans %} ad.at {% endtrans %} {{ ('footer.transaction.article.'~ad.transaction)|trans }} {{ ad.cityName }} ({{ ad.postalcode }}) - {{ ad.price | schematizedcurrency('EUR') | raw }}</h2>
                 <small style="color:#00a1c6;"> {{ ad.advancedDescription|truncate(200, false, '...')|normalize_utf8|raw }}</small>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-right hidden-xs">
                {% if ad.privilege.isAgency %}
                          <!--  <a id="showMessage"  class="" role="tab" aria-controls="estate-{{ ad.id }}-group" aria-expanded="false" data-toggle="tab" data-parent="#estate-{{ ad.id }}-tab" itemprop="url">-->
                            <a id="estate-{{ ad.id }}-group-lnk" href="#estate-{{ ad.id }}-group" class="showMessage" role="tab" aria-controls="estate-{{ ad.id }}-group" aria-expanded="false" data-toggle="tab" data-value="{{ ad.id }}" data-parent="#estate-{{ ad.id }}-tab" itemprop="url">
                                <button type="button" alt="contact" title="contact" class="btn btn-primary btn-lg">
                                    Telephone
                                </button>
                            </a>
                            {% endif %}
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or app.user %}
                                {% if favorie == false %}

                            <a id="addfav" data-value="{{ ad.id }}" style="cursor: pointer;">
                                <button id="btnfav" type="button" alt="favoris" title="favoris" class="btn btn-primary btn-lg">
                                    Favoris
                                </button>
                            </a>
                            {% else %}
                                <button type="button" alt="favoris" title="dans vos favoris" class="btn btn-primary btn-lg" style="background-color:#196a7d !important;">
                                    Favoris
                                </button>
                            {% endif %}
                            {% endif %}
                            {% if ad.privilege.isAgency %}
                          <!--  <a id="showMessage"  class="" role="tab" aria-controls="estate-{{ ad.id }}-group" aria-expanded="false" data-toggle="tab" data-parent="#estate-{{ ad.id }}-tab" itemprop="url">-->
                            <a id="estate-{{ ad.id }}-group-lnk" href="#estate-{{ ad.id }}-group" class="showMessage" role="tab" aria-controls="estate-{{ ad.id }}-group" aria-expanded="false" data-toggle="tab" data-value="{{ ad.id }}" data-parent="#estate-{{ ad.id }}-tab" itemprop="url">
                                <button type="button" alt="contact" title="contact" class="btn btn-primary btn-lg">
                                    Contacter l'agence
                                </button>
                            </a>
                            {% endif %}
            </div>
        </div>

    </div>

{% endblock -%}
{%- block javascripts -%}
    {{- parent() -}}
    <script>
        jQuery(document).ready(function() {
            displayInput();
            displayMessage();
            OnLoadAddFav();
        });

    </script>
{%- endblock javascripts -%}
