{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{%- block schema -%}
    itemscope itemtype="http://schema.org/WebPage"
{%- endblock schema -%}

{%- block head_javascripts -%}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=geometry"></script>
{%- endblock -%}

{%- block head_javascript_requirejs -%}
    {{ include('VitelogeFrontendBundle:misc:requirejs.html.twig', { 'module': 'app/homepage.js' }) }}
{%- endblock -%}

{%- block header -%}
    {%- embed "VitelogeUserBundle:base:header.html.twig" -%}
        {%- block header_navbarheader -%}
            <div class="navbar-header" id="navbar-button-logo">
                {{- block('header_button') -}}
                {{- block('header_logo') -}}
                {%- block header_more -%}
                    {%- if form is defined -%}
                        <button type="button" class="visible-xs pull-right btn btn-inverted navbar-button collapsed" data-toggle="collapse" data-target="#search-container" aria-expanded="false" aria-controls="search-container">
                            <span class="sr-only">{% trans %}ad.change.research{% endtrans %}</span>
                            <span class="fa fa-search"></span>
                            <span class="icon-bar"></span>
                        </button>
                    {%- endif -%}
                {%- endblock header_more -%}
            </div>
        {%- endblock -%}
    {%- endembed -%}
{%- endblock -%}

{%- block header_end -%}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-10">
                {% set count = pagination.nbResults|default(ads|length) %}
                <h2 class="">{% transchoice count with { '%count%' : count } %}ads.count.research{% endtranschoice %}</h2>
            </div>
            <div class="col-md-2 text-right hidden-xs">
                {%- if form is defined -%}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="collapse" aria-expanded="false" data-target="#search-container" aria-controls="search-container">
                        {% trans %}ad.change.research{% endtrans %}&nbsp;<span class="caret"></span>
                    </button>
                {%- endif -%}
            </div>
        </div>
        {%- if form is defined -%}
            <div id="search-container" class="collapse row clearfix">
                <div class="col-md-12">
                    {{ include('VitelogeFrontendBundle:Ad:form/adSearch.html.twig', { form: form, isTransactionLabelHidden: true, theme_container: 'search-container' }) }}
                </div>
            </div>
        {%- endif -%}
    </div>
{%- endblock -%}

{%- block main -%}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            {{ include('VitelogeFrontendBundle:Ad:fragment/paginated.html.twig', {}) }}
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{%- endblock main -%}

{%- block javascripts -%}
    {{ parent() }}
{%- endblock javascripts -%}
