{% set page_class = "estimation" %}
{% extends 'VitelogeEstimationBundle::layout.html.twig' %}
{%- block header -%}
  {{ render(controller('VitelogeFrontendBundle:Default:headerForm')) }}
{%- endblock header -%}
{% block head_stylesheets %}
  {{ parent() }}
{% endblock %}

{% block head_javascripts %}
  {{ parent() }}
{% endblock head_javascripts %}

{%- block body_start -%}
    {{ block('teaser') }}
{%- endblock body_start -%}

{%- block teaser -%}
    <div class="teaser one teaser-fixed">
        <article class="over container">
            <h3 class="h3 over-content">{{ 'estimation.form_page.title' | trans }}</h3>
            <div class="over-content">
                <p>
                    <strong>{{ 'estimation.form_page.bold_call' | trans }}</strong>
                    <span>{{ 'estimation.form_page.call' | trans }}</span>
                </p>
                <p>
                    Merci de remplir le plus précisément possible le formulaire si dessous. Nous comparerons vos informations au 12 Millions de biens que nous avons en base de données afin d'estimer au plus juste le prix de votre logement. En cliquant sur <a href="#estimation_save" class=""><em>Estimer mon bien</em></a> vous aurez une réponse immédiate. Vous pourrez, si vous le souhaitez, compléter notre évaluation par une estimation faite par une de nos agences partenaires locale. Ceci est complètement gratuit et sans engagement.<br>
                </p>
                <a href="#estimate-start" class="btn btn-primary" role="button">
                    <span class="fa fa-caret-right"></span>
                    <span>Commencer</span>
                </a>
            </div>
        </article>
    </div>
{%- endblock teaser -%}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            <div id="estimate-start" class="">
                {{ include('VitelogeEstimationBundle:Form:estimate.html.twig', {}) }}
            </div>
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
{%- block javascripts -%}
    {{- parent() -}}
    <script>
        jQuery(document).ready(function() {
            displayInput();
        });
    </script>
{%- endblock javascripts -%}
