{% set page_class = "estimation" %}
{% extends 'VitelogeEstimationBundle::layout.html.twig' %}

{% block head_stylesheets %}
  {{ parent() }}
  {{ form_stylesheet(form) }}
{% endblock %}

{% block head_javascripts %}
  {{ parent() }}
  {{ form_javascript(form) }}
{% endblock head_javascripts %}

{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            <div class="dark invitation">
                <div class="row">
                    <div class="col-md-6">
                        <h2>{{ 'estimation.form_page.title' | trans }}</h2>
                        <p><b>{{ 'estimation.form_page.bold_call' | trans }}</b> {{ 'estimation.form_page.call' | trans }}</p>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <p></p>
            <p>Merci de remplir le plus précisément possible le formulaire si dessous. Nous comparerons vos informations au 12 Millions de biens que nous avons en base de données afin d'estimer au plus juste le prix de votre logement. En cliquant sur <i>Estimer mon bien</i> vous aurez une réponse immédiate. Vous pourrez, si vous le souhaitez, compléter notre évaluation par une estimation faite par une de nos agences partenaires locale. Ceci est complètement gratuit et sans engagement.
            </p>
            <div class="">
                {{ include('VitelogeEstimationBundle:Form:estimate.html.twig', {}) }}
            </div>
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
