{% set page_class = "estimation resultat" %}
{% extends 'VitelogeEstimationBundle::layout.html.twig' %}
{%- block header -%}
  {{ render(controller('VitelogeFrontendBundle:Default:headerForm')) }}
{%- endblock header -%}
{% block main %}
    {% embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } %}
        {% block left %}
            {{ include('VitelogeCoreBundle:Global:alert.html.twig', { type: 'success', alerts: { 0: 'estimation.contact.pris' | trans }, dismissible: false }) }}
            <div class="panel panel-default{% if form %} arrow{% endif %}">
                <div class="panel-heading">
                    {{ 'estimation.result.title' | trans }}
                </div>
                <div class="panel-body">
                    {% if computed_estimation %}
                        <p>{{ 'estimation.result.range' | trans(computed_estimation) | raw }}</p>
                    {% else %}
                        <p>{{ 'estimation.result.failed' | trans }}</p>
                    {% endif %}
                </div>
            </div>
            {% if form %}
                {{ include('VitelogeEstimationBundle:Default:form/contact.html.twig', {}) }}
            {% endif %}
        {% endblock %}
        {% block right %}
            {{ include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) }}
        {% endblock %}
    {% endembed %}
{% endblock main %}
{%- block javascripts -%}
    {{- parent() -}}
    <script>
        jQuery(document).ready(function() {
            displayInput();
        });
    </script>
{%- endblock javascripts -%}
