{% extends 'VitelogeEstimationBundle::layout.html.twig' %}

{%- block head_javascripts -%}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="{{ asset('assets/js/d3.js') }}"></script>
{%- endblock -%}

{%- block body_start -%}
    {% set mapOptions = mapOptions|default(false) %}
    {%- embed "VitelogeFrontendBundle:misc:googlemap.html.twig" with { mapOptions: mapOptions } -%}
        {%- block over -%}

        {%- endblock -%}
    {%- endembed -%}
{%- endblock -%}

{%- block main -%}
    {%- embed "VitelogeUserBundle:grid:two-columns.html.twig" with { 'lsize': 9, 'rsize': 3 } -%}
        {%- block left -%}
            {{- include('VitelogeEstimationBundle:CityStats:fragment/surface_price.html.twig', {
                barometers: barometres,
                statistics: [
                    { type: 'Appartement', city: city, date: (barometres['a']|last|default({date:null})).date, price: (barometres['a']|last|default({value:null})).value, total: barometres.total },
                    { type: 'Maison', city: city, date: (barometres['m']|last|default({date:null})).date, price: (barometres['m']|last|default({value:null})).value, total: barometres.total },
                ]
            }) -}}
            {{- include('VitelogeEstimationBundle:CityStats:form/intro_estimate.html.twig', { form: form }) -}}
            {{- include('VitelogeEstimationBundle:CityStats:fragment/chart.html.twig', { barometers: barometres }) -}}
            <section class="clearfix">
                <h3 class="text-uppercase text-center">{%- trans with { '%city%': city.getNameAndPostalcode() } -%}Prix au m² des villes proches de %city%{%- endtrans -%}</h3>
                {{- include('VitelogeEstimationBundle:CityStats:fragment/around.html.twig', { cities: surrounding_cities }) -}}
            </section>
        {%- endblock left -%}
        {%- block right -%}
            {{- include('VitelogeFrontendBundle:Block:aside_right.html.twig', {}) -}}
        {%- endblock -%}
    {%- endembed -%}
{%- endblock main -%}
