<div id="viteloge-frontend-ad-paginated" class="ajax-pager-container">
    <div class="container-unfluid">
        {%- if pagination is defined -%}
        {%- block pagination -%}
            {%- if pagination is not null and pagination.haveToPaginate -%}
                {{- pagerfanta(pagination, 'pager_viteloge', {
                    'routeName' : 'viteloge_frontend_ad_search',
                    'routeParams': app.request.query.all,
                    'prev_message' : 'Previous',
                    'next_message' : 'Next'
                }) -}}
            {%- endif -%}
        {%- endblock pagination -%}
        {%- endif -%}
        <div class="clearfix">
            <a href="{{ path('viteloge_frontend_websearch_new', { 'session': true }) }}" role="button" class="btn btn-primary pull-left">
                <span class="fa fa-bell"></span>&nbsp;
                {% trans %}usersearch.create.mail.alert{% endtrans %}
            </a>
            <div class="pull-right">
                {%- if pagination is defined -%}
                {%- block sortable -%}
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") or not app.user %}
                        {{ render_hinclude(path('viteloge_frontend_user_registermodal', {})) }}
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#register-modal">{%- trans -%}Trier{%- endtrans -%}</button>
                    {%- else -%}
                        <select name="sort" class="sortable">
                            <optgroup label="Defaut">
                                <option value="ASC" data-url="{{ path('viteloge_frontend_ad_search', app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'sort': 'default', 'direction': 'asc'})) }}"{% if app.request.query.get('direction') == 'asc' and app.request.query.get('sort') == 'default' %} selected="selected"{% endif %}>ASC</option>
                                <option value="DESC" data-url="{{ path('viteloge_frontend_ad_search', app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'sort': 'default', 'direction': 'desc'})) }}"{% if (app.request.query.get('direction') == 'desc' or not app.request.query.get('direction')) and (app.request.query.get('sort') == 'default' or not app.request.query.get('sort')) %} selected="selected"{% endif %}>DESC</option>
                            </optgroup>
                            <optgroup label="Date">
                                <option value="ASC" data-url="{{ path('viteloge_frontend_ad_search', app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'sort': 'createdAt', 'direction': 'asc'})) }}"{% if app.request.query.get('direction') == 'asc' and app.request.query.get('sort') == 'createdAt' %} selected="selected"{% endif %}>ASC</option>
                                <option value="DESC" data-url="{{ path('viteloge_frontend_ad_search', app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'sort': 'createdAt', 'direction': 'desc'})) }}"{% if app.request.query.get('direction') == 'desc' and app.request.query.get('sort') == 'createdAt' %} selected="selected"{% endif %}>DESC</option>
                            </optgroup>
                            <optgroup label="Prix">
                                <option value="ASC" data-url="{{ path('viteloge_frontend_ad_search', app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'sort': 'price', 'direction': 'asc'})) }}"{% if app.request.query.get('direction') == 'asc' and app.request.query.get('sort') == 'price' %} selected="selected"{% endif %}>ASC</option>
                                <option value="DESC" data-url="{{ path('viteloge_frontend_ad_search', app.request.query.all|merge(app.request.attributes.get('_route_params'))|merge({'sort': 'price', 'direction': 'desc'})) }}"{% if app.request.query.get('direction') == 'desc' and app.request.query.get('sort') == 'price' %} selected="selected"{% endif %}>DESC</option>
                            </optgroup>
                        </select>
                    {%- endif -%}
                {%- endblock sortable -%}
                {%- endif -%}
            </div>
        </div>
        <div class="clearfix">
        {%- for ad in ads -%}
            <div class="theme-{{ad.transaction}}">{{ include('VitelogeFrontendBundle:Ad:render/list.html.twig', { 'ad': ad }) }}</div>
        {%- else -%}
            <div class="highlight">{% trans %}ad.noresult{% endtrans %}</div>
        {%- endfor -%}
        </div>
        {{ block('pagination') }}
    </div>
</div>
