<div class="">
    <div class="row">
        {%- block websearch_title -%}
            <span class="text-capitalize">{{ webSearch.title }}</span>
            <span class="badge">{{ webSearch.totalMatches }}</span>
        {%- endblock websearch_title -%}
    </div>
    <div class="row">
        {%- block websearch_buttons -%}
            <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
                <a href="{{ path('viteloge_frontend_ad_searchfromusersearch', { id: webSearch.userSearch.id }) }}" class="btn btn-default" role="button">{% trans %}websearch.action.show{% endtrans %}</a>
                {% if webSearch.deletedAt %}
                    <a href="{{ path('viteloge_frontend_websearch_history_edit', { id: webSearch.id }) }}" class="btn btn-default" role="button">{% trans %}websearch.action.edit{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('viteloge_frontend_websearch_edit', { id: webSearch.id }) }}" class="btn btn-default" role="button">{% trans %}websearch.action.edit{% endtrans %}</a>
                {% endif %}
            </div>
        {%- endblock websearch_buttons -%}
    </div>
    <div class="row">
        {%- block websearch_content -%}
            {% for ad in webSearch.cachedProperties %}
                {{ include('VitelogeFrontendBundle:WebSearch:cachedProperties/ad.html.twig', { 'ad': ad }) }}
                {% if loop.index is divisible by(4) %}
                    <div class="clearfix"></div>
                {% endif %}
            {%- else -%}
                <span>{% trans %}viteloge.noresult{% endtrans %}</span>
            {%- endfor -%}
        {%- endblock websearch_content -%}
    </div>
</div>
