{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block title %}
    {% trans %}Fast Housing{% endtrans %}
{% endblock %}

{% block head_javascript_requirejs %}
    {{ include('VitelogeFrontendBundle:misc:requirejs.html.twig', { 'module': 'app/homepage.js' }) }}
{% endblock %}

{% block header %}
<div class="container">
    <a class="" href="./">
        <img src="{{ asset('bundles/frontendbundle/images/common/logo.png') }}" class="logo" alt="viteloge" data-role="logo">
    </a>
    <nav class="navigation pull-right" role="navigation">
        <ul>
            <li><a href="user/login{#{{ path('viteloge_user_homepage') }}#}" class="">{% trans %}Registration{% endtrans %}</a></li>
            <li><a href="connexion.html">{% trans %}Connection{% endtrans %}</a></li>
        </ul>
    </nav>
    <div class="cleafix"></div>
    <div class="forward text-center">
        <h1 class="text-upper">Nam nec tellus a odio tincidunt</h1>
        <h2 class="text-upper">
            {% set count = '603 081' %}
            {% transchoice count with {'%count%': count} %}
                today.properties.update.count
            {% endtranschoice %} !
        </h2>
        {{ include('VitelogeFrontendBundle:Form:ad.html.twig') }}
    </div>
</div>
{% endblock %}

{% block main %}

{{ render(controller('VitelogeFrontendBundle:Ad:latest', { 'type': type, 'limit': 9 })) }}
{{ render_hinclude(controller('VitelogeFrontendBundle:Service:list', {'default': 'Loading...'})) }}
{{ render_hinclude(controller('VitelogeFrontendBundle:WebSearch:latest', {'default': 'Loading...'})) }}

{% endblock %}


{% block footer %}
    <div class="container text-center">
        {{ include('VitelogeFrontendBundle:menu:footer.html.twig', {}) }}
        {{ include('VitelogeFrontendBundle:misc:social.html.twig', {}) }}
        {{ include('VitelogeFrontendBundle:misc:copyright.html.twig', {}) }}
        {{ render(controller('VitelogeFrontendBundle:Glossary:mostSearched', { limit: 15 })) }}
        {#{{ render_hinclude(controller('VitelogeFrontendBundle:Glossary:mostSearched', {'default': 'Loading...'})) }}#}
    </div>
{% endblock %}
