{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{%- block theme -%}
    {{ parent() }} home
{%- endblock -%}

{%- block body -%}
    <header class="header banner" role="banner" data-target="#search-container">
        {{- block('header') -}}
        <div class="hidden-xs hidden-sm next-link text-center">
            <a href="#main-content" rel="nofollow" class="round-icon medium transition-large" data-toggle="tooltip" data-placement="top" title="{%- trans -%}home.header.next.tooltip{%- endtrans -%}" data-original-title="{%- trans -%}home.header.next.tooltip{%- endtrans -%}" aria-label="{%- trans -%}home.header.next{%- endtrans -%}">
                <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </a>
        </div>
    </header>
    <main class="main" role="main">
        {#- block('body_start') -#}
        {{- block('main') -}}
        {#- block('body_end') -#}
    </main>
    <footer data-role="footer">
        {{- block('footer') -}}
    </footer>
{%- endblock -%}

{%- block header -%}
    {%- embed "VitelogeUserBundle:base:headerHome.html.twig" with { 'block_flash': block('flash') } -%}
        {%- block header_navbarmenu -%}
          <!--  <div class="collapse navbar-collapse" id="navbar-navigation">
                {#- block('header_brand') -#}
                {#- block('header_identification') -#}
            </div>-->
            {%- block header_navigation -%}
                {{- block_flash | raw -}}
                <div id="search-container" class="forward text-center">
                    <a class="navbar-branded brand clearfix logo_home" href="{{ path('viteloge_frontend_homepage') }}" itemscope itemtype="http://schema.org/Brand">
                        <img src="{{ aws_s3_domain('bundles/vitelogecore/images/fr/logo-viteloge-moteur-recherche-immobilier.svg') }}" class="img-responsive" alt="{% trans %}viteloge.brand{% endtrans %}" title="{% trans %}viteloge.brand{% endtrans %} - {% trans %}viteloge.slogan{% endtrans %}" itemprop="logo" data-role="logo">
                        {#<h1 class="title text-uppercase">Vite<em class="em">logé</em></h1>
                        <h2 class="subtitle clearfix text-uppercase">Moteur de recherche immobilier</h2>#}
                    </a>
                    {#<h1 class="text-uppercase">{% trans %}home.teaser{% endtrans %}</h1>#}
                    <h2 class="text-uppercase NbBiensAccueil">{%- transchoice count with {'%count%': count|number_format(0, null, ' ')} -%}today.properties.update.count{%- endtranschoice -%}</h2>
                    {{- include('VitelogeFrontendBundle:Default:form/adSearch_home.html.twig', { form: form }) -}}
                </div>
            {%- endblock -%}
        {%- endblock -%}
    {%- endembed -%}
{%- endblock -%}

{%- block flash -%}
    {{- include('VitelogeUserBundle:base:flash.html.twig', { hideContainer: true }) -}}
{%- endblock flash -%}

{%- block main -%}
   <!-- <div id="main-content" class="clearfix">

    </div>-->
    {#- include('VitelogeFrontendBundle:Default:fragment/services.html.twig', { }) -#}
    {{- include('VitelogeFrontendBundle:Default:fragment/websearch.html.twig', { }) -}}
{%- endblock -%}

{%- block footer -%}
    <div class="text-secondary">
         <div class="col-xs-12 hidden-lg hidden-md hidden-sm no-padding" data-role="secondary" style="background-color:#ddd;margin-top:0;">
                {{ include('VitelogeFrontendBundle:misc:adsense.html.twig', { }) }}
        </div>
        {{- include('VitelogeFrontendBundle:menu:footer_home.html.twig', {}) -}}
        {{- include('VitelogeFrontendBundle:Default:fragment/glossary.html.twig', { }) -}}
        {{- include('VitelogeFrontendBundle:Ad:fragment/ad.html.twig', { }) -}}
            <div class="col-md-12 text-center">
              {{- include('VitelogeFrontendBundle:misc:social.html.twig', {}) -}}
              {{- include('VitelogeFrontendBundle:misc:copyright.html.twig', {}) -}}
            </div>
        {#- parent() -#}

    </div>
{%- endblock -%}

{%- block javascripts -%}
    {{- parent() -}}
    {#-<script>
        jQuery(document).ready(function() {
            getCarouselLocation();
        });
    </script>-#}
    <script>
        jQuery(document).ready(function() {
            displayInput();
        });
    </script>
{%- endblock javascripts -%}
