{% extends 'VitelogeFrontendBundle::base.html.twig' %}

{% block head_javascript_requirejs %}
    {{ include('VitelogeFrontendBundle:misc:requirejs.html.twig', { 'module': 'app/homepage.js' }) }}
{% endblock %}

{%- block theme -%}
    {{parent()}} home
{%- endblock -%}

{% block body %}
    <header class="header banner" role="banner" data-target="#search-container">
        {{ block('header') }}
    </header>
    <main class="main" role="main">
        {{ block('main') }}
    </main>
    <footer data-role="footer">
        {{ block('footer') }}
    </footer>
{% endblock %}

{% block header %}
    {% embed "VitelogeUserBundle:base:header.html.twig" %}
        {% block header_navbarmenu %}
            <div class="collapse navbar-collapse" id="navbar-navigation">
                {{ block('header_identification') }}
            </div>
            {% block header_navigation %}
                <div id="search-container" class="forward text-center">
                    <h1 class="text-uppercase">Nam nec tellus a odio tincidunt</h1>
                    <h2 class="text-uppercase">
                        {% transchoice count with {'%count%': count|number_format(0, null, ' ')} %}
                            today.properties.update.count
                        {% endtranschoice %} !
                    </h2>
                    {{ include('VitelogeFrontendBundle:Form:adSearch.html.twig', { form: form }) }}
                </div>
            {% endblock %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{%- block main -%}
    <div class="{% if transaction != 'L' %}hidden{% endif %}" data-theme-showon="theme-rent theme-L">
        {{ include('VitelogeFrontendBundle:Default:fragment/carousel.html.twig', { 'transaction': 'L' }) }}
    </div>
    <div class="{% if transaction != 'V' %}hidden{% endif %}" data-theme-showon="theme-sale theme-V">
        {{ include('VitelogeFrontendBundle:Default:fragment/carousel.html.twig', { 'transaction': 'V' }) }}
    </div>
    <div class="{% if transaction != 'N' %}hidden{% endif %}" data-theme-showon="theme-new theme-N">
        {{ include('VitelogeFrontendBundle:Default:fragment/carousel.html.twig', { 'transaction': 'N' }) }}
    </div>
    {{ include('VitelogeFrontendBundle:Default:fragment/services.html.twig', { }) }}
    {{ include('VitelogeFrontendBundle:Default:fragment/websearch.html.twig', { }) }}
{%- endblock -%}


{% block footer %}
<div class="container text-center">
    {{ include('VitelogeFrontendBundle:menu:footer.html.twig', {}) }}
    {{ include('VitelogeFrontendBundle:misc:social.html.twig', {}) }}
    {{ include('VitelogeFrontendBundle:misc:copyright.html.twig', {}) }}
    {{ render(controller('VitelogeFrontendBundle:Glossary:mostSearched', { limit: 15 })) }}
    {#{{ render_hinclude(controller('VitelogeFrontendBundle:Glossary:mostSearched', {'default': 'Loading...'})) }}#}
</div>
{% endblock %}
